body {
  background-color: rgb(8, 6, 36);
  margin: 0;
  position: relative;
  height: 100vh;
  display: flex;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('arkaplan/arkaplan-sayfa-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  transform-origin: center center;
}

body:has(:hover):not(:has(.aracKutusu:hover))::before {
  opacity: 0.8;
  transform: scale(1.03);
}
.aracKutusu{

  background-color: rgba(139, 119, 255, 0.526);
  margin: 0;
  width: 1536px;
  height: 60px;
}
.arac-6{

    margin-left: 20px;
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 60px;
    background-color: rgba(54, 39, 135, 0.526);
    
}
#sol-yazi{

    background-image: url('icon/sol-kanat.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60px;
    height: 50px;
    border: none;
    
}
.arac-6:hover{

    background-color: rgba(105, 79, 255, 0.526);
    transform-box: fill-box;
  
}
.arac-7{

    margin-left: 20px;
    border-style: solid;
    border-color: white;
    height: 30px;
    width: 25px;
   background-color: rgba(54, 39, 135, 0.526);
    margin-top: 15px;
    
}
#orta-yazi{

    background-color: transparent;
    width: 30px;
    height: 25px;
    border: none;
  
}
#orta-yazi h2{

    color: white;
    text-align: center;
    width: 16px;
    height: 25px;
    font-size: 13px;
    padding-right: 15px;
}

.arac-7:hover{

    background-color: rgba(105, 79, 255, 0.526);
    transform-box: fill-box;
  
}
.arac-8{

    margin-left: 20px;
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 60px;
    background-color: rgba(54, 39, 135, 0.526);
    
}
#sag-yazi{

    background-image: url('icon/sag-kanat.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60px;
    height: 50px;
    border: none;
    
}
.arac-8:hover{

    background-color: rgba(105, 79, 255, 0.526);
    transform-box: fill-box;
  
}
.mektup-sayfa-1{

  content: "";
  position: fixed;
  inset: 0;
  background-image: url('mektup-imgs/mektup-sayfa-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-size: 600px 800px;
  margin-top: 70px;
  width: 680px;
  height: 820px;
  margin-left: 440px;
  background-color: rgba(100, 80, 215, 0.526);
}
.editor-kutu{
 
  padding-top: 105px;
  height: 505px;
  margin-left: 570px;
  width: 380px;
}
#editor{

    height: 635px;
    width: 420px;
    overflow-y: auto;      
    overflow-x: hidden;        
    box-sizing: border-box; 
    word-wrap: break-word; 
    outline: none;

}
